#body{
    background-color: lightgray;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: gray;
    font-family: sans-serif;

}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: unset;
    font-weight: 900;
}

h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#camera{
    border-color: teal;
    width: 500px;
    height: 400px;

}